*{
    margin: 0;
    padding: 0;
    position: relative;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: block;
    width: 100%;
    height: 100vh;
    padding: 10px;
    background: linear-gradient(to bottom, lightgreen 0%,skyblue 100%);
}

.wrapper{
    display: block;
    background-color: white;
    position: relative;
    max-width: 400px;
    width: 100%;
    height: fit-content;
    margin: 120px auto;    
    padding: 25px;
    border-radius: 5px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
}

.wrapper header{
    font-size: 30px;
    font-weight: 600;
}

.wrapper .inputField{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    height: 45px;
    display: flex;
    /* justify-content: space-between; */
    transition: all 0.3s ease;
}

input{
    width: 85%;
    height: 100%;
    outline: none;
    border-radius: 3px;
    border: solid 1px #ccc;
    font-size: 17px;
    padding-left: 15px;
    transition: all 0.3s ease;
}
input:hover, :focus{
    border-color: green;
}

.wrapper .footer {
    display: flex;
    width: 100%;
    margin-top: 20px;
    align-items: center;
    justify-content: space-between;
}

button{
    height: 45px;
    min-width: 45px;
    width: fit-content;
    border-radius: 3px;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: 400;
    background-color: green;
    opacity: 65%;
    padding: 10px 10px;
    margin-left: 10px;
    margin-bottom: 3px;
    cursor: pointer;
    transition: all 0.3s ease;
}
button:hover{
    opacity: 100%;
}
.footer button{
    height: 30px;
    font-size: 16px;
    padding: 0;
    padding-left: 10px;
    padding-right: 10px;
}

.todo__list{
    display: block;
    height: fit-content;
    width: 100%;
}
.todo__list .item{
    border-radius: 3px;
    display: flex;
    margin-top: 5px;
    height: 45px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
}
.todo__list .item .text{
    height: 100%;
    width: 75%;
    padding: 12px 10px;
}
.todo__list .item .edit{
    margin: 0;
    border-radius: 0;
    background-color: sandybrown;
}
.todo__list .item .delete{
    margin: 0;
    background-color: tomato;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.edit__mode{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    align-items: center;
    padding-left: 6px;

    display: none;
}
.ok__background{
    height: 45px;
    width: 45px;
    border-radius: 3px;
    border: none;
    background-color: white;
    margin-left: 10px;
    margin-bottom: 3px;
}
.ok__background button{
    margin-left: 0;
}